---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';

import carouselImg1 from '../assets/images/1.jpg'
import carouselImg2 from '../assets/images/2.jpg'
import carouselImg3 from '../assets/images/3.jpg'
import carouselImg4 from '../assets/images/4.jpg'
import carouselImg5 from '../assets/images/5.jpg'
import carouselImg6 from '../assets/images/6.jpg'
import carouselImg7 from '../assets/images/7.jpg'
import carouselImg8 from '../assets/images/8.jpg'
import carouselImg9 from '../assets/images/9.jpg'

const title = 'Diensten';
const description = 'Ik herstel uw elektrische en/of elektronische toestellen. Ook de reparatie van oud speelgoed is mogelijk.';
---

<Layout title={title} description={description}>
    <div class="container grid lg:grid-cols-12 lg:grid-flow-row">
        <h1 class="text-4xl col-span-12 sm:text-6xl mb-12">Diensten</h1>
        <h2 class="mb-12 col-span-6">Heeft u een elektronisch toestel dat aan reparatie toe is? Een oud stuk speelgoed dat niet meer werkt als voorheen? Wij kunnen u helpen! Hieronder een overzicht van de diensten we aanbieden.</h2>
        <Card 
            cardTitle="Elektronische toestellen" 
            cardImage={carouselImg1}
            class="mb-12"
        >
            <p>Elektronica kent geen geheimen voor mij. Ik werkte vroeger bij Pioneer op de hersteldienst, en ontwierp later elektronische apparaten bij Agfa.</p>
            <p>Hoe ouder het toestel, hoe makkelijker te herstellen!</p>
        </Card>

        <Card 
            cardTitle="Elektrische toestellen" 
            cardImage={carouselImg2}
            class="mb-12"
        >
            <p>Elektronica kent geen geheimen voor mij. Ik werkte vroeger bij Pioneer op de hersteldienst, en ontwierp later elektronische apparaten bij Agfa.</p>
            <p>Hoe ouder het toestel, hoe makkelijker te herstellen!</p>
        </Card>
        
        <Card 
            cardTitle="Speelgoed" 
            cardImage={carouselImg5}
        >
            <p>Een babygym die geen geluid meer maakt? Een treintje dat niet meer rijdt? Een kinderkeukentje met een beschadigde deur?</p>
            <p>Het kan vaak nog hersteld worden, weeral een verkleining van de afvalberg.</p>
        </Card>
    </div>
</Layout>

<style lang="scss">
    @import "../style/_variables.scss";

</style>


<script>
    const allCards = document.querySelectorAll('.card');
    allCards.forEach(card => {
        card.querySelector(".card__image").style.minHeight = card.querySelector(".card__left").getBoundingClientRect().height / 2 * 3 + "px";
    });
</script>