---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';

import electronicsImg from '../assets/images/electronics-min.jpg'
import electricsImg from '../assets/images/electrics-min.jpg'
import toysImg from '../assets/images/toys-min.jpg'
import restaurationsImg from '../assets/images/restaurations-min.jpg'

const title = 'Diensten';
const description = 'Ik herstel uw elektrische en/of elektronische toestellen. Ook de reparatie van oud speelgoed is mogelijk.';
---

<Layout title={title} description={description}>
    <div class="container | grid | grid-cols-12">
        <h1 class="col-span-12 md:col-span-8 | mb-8">Diensten</h1>
        <h2 class="col-span-12 md:col-span-8 xl:col-span-6 | mb-12">Heeft u een elektronisch toestel dat aan reparatie toe is? Een oud stuk speelgoed dat niet meer werkt als voorheen? Wij kunnen u helpen! Hieronder een overzicht van de diensten we aanbieden.</h2>
        <Card 
            cardTitle="Elektronische toestellen" 
            cardImage={electronicsImg}
        >
            <p>Elektronica kent geen geheimen voor mij. Ik werkte vroeger bij Pioneer op de hersteldienst, en ontwierp later elektronische apparaten bij Agfa.</p>
            <p>Hoe ouder het toestel, hoe makkelijker te herstellen!</p>
        </Card>

        <Card 
            cardTitle="Elektrische toestellen" 
            cardImage={electricsImg}
        >
            <p>Ik werk al heel wat jaren ook mee in verschillende Repair Cafés en heb al heel wat soorten toestellen hersteld.</p>
            <p>Recentelijk bv. een droogkast, stofzuiger en printer.</p>
            <p>Voorlopig voer ik geen herstelling uit van grotere toestellen (een vaatwasser, ijskast, wasmachine,...).</p>
        </Card>
        
        <Card 
            cardTitle="Speelgoed" 
            cardImage={toysImg}
        >
            <p>Een babygym die geen geluid meer maakt? Een treintje dat niet meer rijdt? Een kinderkeukentje met een beschadigde deur?</p>
            <p>Het kan vaak nog hersteld worden. Weeral een verkleining van de afvalberg!</p>
        </Card> 
        <Card 
            cardTitle="Restauraties" 
            cardImage={restaurationsImg}
        >
            <p>Misschien heeft u nog oude toestellen waar u aan gehecht bent?</p>
            <p>Ik kan die wellicht een nieuw leven geven!</p>
            <p>Zo bijvoorbeeld een 50's automaat van het merk 'Le Tigre' (zie foto).</p>
        </Card>
    </div>
</Layout>

<style lang="scss">
    @import "../style/_variables.scss";
    
    p + p {
        margin-top: 1.25rem;
    }

</style>